.screen {
  position: relative;
  height: 100vh;
  min-height: 900px;
  &-first {
    display: flex;
    align-items: center;
    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 443px;
      background: $gradient-firstScreen;
      z-index: -1;
    }
    .container-fluid {
      padding-left: 0;
    }
    .grid {
      &-gallery {
        display: flex;
        position: relative;
        img {
          object-fit: cover;
        }
        &:after {
          content: '';
          position: absolute;
          right: -58px;
          bottom: -10px;
          width: 108px;
          height: 108px;
          background: url('../img/hp9.png');
        }
      }
      &-col {
        overflow: hidden;
        &:first-child {
          padding-right: 29px;
          img {
            height: 646px;
          }
        }
        &:last-child {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          position: relative;
          img {
            &:first-child {
              height: 256px;
            }
            &:last-child {
              height: 371px;
            }
          }
        }
      }
    }
    .offset {
      &-left {
        margin-left: 7%;
      }
    }
    &__data {
      &-after {
        max-width: 608px;
      }
    }
    .section__title {
      position: relative;
      &:after {
        content: '20';
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        font-family: 'Lora', serif;
        font-size: 210px;
        line-height: 279px;
        font-weight: bold;
        letter-spacing: 4.2px;
        color: #DDDDDD;
        opacity: 0.84;
        z-index: -1;
      }
    }
    .arrow-nextPage {
      position: absolute;
      left: 34%;
      bottom: 43px;
      width: 40px;
      height: 40px;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23000000' class='bi bi-arrow-down-short' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M8 4a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5A.5.5 0 0 1 8 4z'/%3E%3C/svg%3E");
      background-size: cover;
      background-position-y: 8px;
      opacity: .37;
      &:hover {
        opacity: 1;
      }
    }
    &:after {
      content: '';
      position: absolute;
      right: 0;
      bottom: 0;
      width: 108px;
      height: 108px;
      background: url("../img/hp9.png");
      background-size: cover;
      background-repeat: no-repeat;
      filter: contrast(.8);
    }
  }
}
.page {
  &-about {
    .screen {
      &-first {
        .grid-gallery {
          &:after{
            right: -68px;
          }
        }
        .section {
          &__title {
            max-width: 455px;
            letter-spacing: 1.41px;
            margin-left: initial;
            margin-right: initial;
            &:after {
              content: none;
            }
          }
          &__text {
            max-width: 510px;
            font-size: 16px;
            line-height: 23px;
            margin-bottom: 25px;
          }
          &__logos {
            img+img{
              margin-left: 45px;
            }
          }
        }
      }
    }
  }
}