.footer {
  background: $gradient-footer;
  .container {
    padding-top: 55px;
    padding-bottom: 60px;
  }
  &-list {
    display: flex;
    align-items: center;
  }
  &-item {
    padding: 0 10px;
    &:last-child {
      padding-right: 0;
    }
  }
  &-link {
    text-transform: uppercase;
  }
  &__contact {
    font-family: $footer-text;
    font-size: $font-button;
    line-height: 18px;
    font-weight: 400;
    font-style: normal;
    text-align: left;
    letter-spacing: 0.24px;
    color: #FFFFFF;
  }
  &__form {
    display: flex;
    &-title {
      font-family: $footer-text;
      text-align: left;
      margin-bottom: 9px;
      &:hover {
        text-decoration: none;
        color: #FFFFFF;
      }
    }
  }
  &__col + &__col{
    padding-left: 10px;
    &:last-child {
      padding-left: 12px;
    }
  }
  &__col {
    max-width: 162px;
    &:last-child {
      max-width: 118px;
    }
  }
  &__input {
    font-family: $footer-text !important;
    font-size: $text-input-font !important;
    line-height: 25px !important;
    font-weight: normal !important;
    font-style: normal !important;
    text-align: left !important;
    letter-spacing: 0px !important;
    color: #FFFFFF !important;
    padding: 14px 12px !important;
    background: none !important;
    border: 1px solid #FFFFFF !important;
    border-radius: 0 !important;
    &::-moz-placeholder {
      color: #FFFFFF !important;
    }
    &::-webkit-input-placeholder {
      color: #FFFFFF !important;
    }
    &:focus {
      color: #FFFFFF !important;
      background: none !important;
      box-shadow: 0px 0px 3px 0px #ffffffc7 !important;
      border: 1px solid #FFFFFF !important;
    }
  }
  &__btn {
    font-family: $footer-text;
    font-size: $font-button;
    line-height: 20px;
    font-weight: bold;
    font-style: normal;
    letter-spacing: 2px;
    color: #FFFFFF;
    text-transform: uppercase;
    padding: 16px 23px;
    border:1px solid #FFFFFF;
    background: none;
    border-radius: 4px;
  }
  .first-row {
    margin-bottom: 10px;
  }
  &__copyright {
    background: $gradient-copyright;
    .container {
      padding-top: 20px;
      padding-bottom: 15px;
    }
  }
  &__social {
    &-list {
      display: flex;
      justify-content: flex-end;
    }
    &-item+&-item {
      padding-left: 18px;
    }
    &-icon {
      &:hover {
        fill: darken(#FFFFFF, 5);
      }
    }
  }
}