.header {
  background: $gradient-header;
  position: relative;
  width: 100%;
  z-index: 99999;
  &-blog {
    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 443px;
      height: 160px;
      background: $gradient-header-blog;
    }
  }
  .container {
    max-width: 1484px;
  }
  .navbar {
    padding: 0;
    .container-fluid {
      padding-right: 0;
      height: 100%;
    }
    &-toggler {
      height: 80px;
      width: 72px;
      border-radius: 0;
      color: #ffffff;
      background: #4FBD24;
      border: none;
      &:focus {
        box-shadow: none;
      }
    }
  }
  .navbar-dark .navbar-toggler-icon.user {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgb%28255, 255, 255' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__list {
    display: block;
    text-align: center;
  }
  &__item {
    margin: 20px 10px;
    &:first-child {
      padding-left: 0;
    }
    &.active {
      position: relative;
      &:after {
        content: '';
        position: absolute;
        bottom: -5px;
        left: 50%;
        transform: translateX(-50%);
        height: 2px;
        width: 90%;
        background-color: $first-color;
      }
      &-btn {
        &:after {
          bottom: 8px;
          background-color: #ffffff;
          width: 163px;
        }
      }
    }
  }
  &__item+&__item {
    margin-left: 23px;
  }
  &__link {
    color: #000000;
    text-transform: uppercase;
      &:hover {
        color: lighten(#000000, 10);
    }
  }
}