@media screen and  (max-width: 1400px) {
  .footer {
    .col-xxl-4 {
      &:first-child {
        margin-bottom: 40px;
      }
      &:nth-child(3) {
        margin-bottom: 43px;
      }
    }
    .col-xxl-8 {
      &:nth-child(2) {
        margin-bottom: 36px;
      }
    }
  }
  .screen {
    &-right-image {
      &__img {
        &:after {
          right: -20px;
        }
      }
    }
  }
}
@media screen and  (max-width: 992px) {
  .footer {
    &-list {
      display: block;
      text-align: left;
    }
    &-item {
      margin-left: 0 !important;
      padding-left: 0 !important;
    }
  }
  .screen {
    height: auto;
    min-width: auto;
    &-first {
      &:before {
        width: 33.3333333%;
      }
      .grid {
        &-col {
          &:first-child {
            padding-right: 14px;
            img {
              //max-height: 402px;
            }
          }
          &:last-child {
            img {
              &:first-child {
                //height: 160px;
              }
              &:last-child {
                //height: 232px;
              }
            }
          }
        }
      }
    }
    &-slider {
      background: none;
      min-height: initial;
      padding-top: 50px;
      padding-bottom: 50px;
      .section {
        &__data {
          margin-top: 0;
          margin-bottom: 25px;
        }
      }
    }
    &-right-image {
      height: auto;
      min-height: auto;
      .container {
        padding-top: 50px;
        padding-bottom: 50px;
      }
      &__img {
        &-big {
          margin-bottom: 0;
        }
        &-small {
          display: none;
        }
      }
    }
    &-presidentLetter {
      min-height: unset;
      .container {
        padding-top: 50px;
        padding-bottom: 50px;
      }
      &__body {
        &:before {
          content: none;
        }
        padding: 25px 30px;
        &:after {
          width: 110px;
        }
      }
    }
    &-tabs {
      &__header-title {
        padding: 20px 15px;
      }
    }
    &-left-image {
      min-height: unset;
      .container {
        padding-top: 50px;
        padding-bottom: 50px;
      }
    }
  }
  .scrolling__section {
    display: none;
  }
}
@media screen and  (max-width: 768px) {
  .container-fluid.my{
    margin-left: auto;
    max-width: 540px;
  }
  .section {
    &__data {
      margin-top: 43px;
    }
  }
  .nav {
    &__logo {
      max-width: 244px;
    }

  }
  .footer {
    &__form {
      display: block;
      &-row {
        width: 100%;
      }
    }
    &__col {
      max-width: 100%;
      margin-bottom: 15px;
      &:last-child {
        max-width: 100%;
        margin-bottom: 0;
      }
    }
    &__col+&__col {
      padding-left: 0;
      &:last-child {
        padding-left: 0;
      }
    }
    &__btn {
      width: 100%;
    }
  }
  .screen {
    height: auto;
    min-height: auto;
    &-first {
      &:before {
        content: none;
      }
      .container-fluid {
        padding-bottom: 57px;
        padding-top: 16px;
        padding-left: var(--bs-gutter-x,.75rem);
      }
      .offset-left {
        margin-left: 0;
      }
      .col-md-6 {
        display: flex;
        justify-content: center;
      }
      .grid {
        &-col {
          &:first-child {
            padding-right: 7px;
            img {
              max-height: 201px;
              max-width: 187px;
            }
          }
          &:last-child {
            img {
              max-width: 149px;
              &:first-child {
                max-height: 80px;
              }
              &:last-child {
                max-height: 116px;
              }
            }
            &:after {
              right: 0;
              bottom: -40px;
              width: 80px;
              height: 80px;
            }
          }
        }
      }
      .section__text {
        max-width: 305px;
      }
      .arrow-nextPage {
        left: unset;
        right: 20px;
      }
      &:after {
        content: none;
      }
    }
    &-right-image {
      background: none;
      .container {
        padding-top: 25px;
        padding-bottom: 25px;
      }
      &:before {
        content: '';
        position: absolute;
        right: 0;
        bottom: 0;
        height: 392px;
        width: 195px;
        background: $gradient-side-image;
      }
      &.reverse-right {
        &:before {
          top: 0;
          right: 0;
        }
      }
      .row.reverse {
        flex-direction: column-reverse;
        .screen-right-image__img {
          margin-bottom: 25px;
        }
      }
      &__img {
        &:after {
          content: none;
        }
      }
    }
    &__advantages {
      &-card {
        padding-left: 12px;

      }
    }
    &-presidentLetter {
      &__body {
        padding-top: 50px;
        padding-bottom: 50px;
        max-height: unset;
        flex-direction: column-reverse;
        &:before {
          content: none;
        }
        &:after {
          width: 100%;
          height: 50px;
          bottom: calc(100% - 50px);
        }
      }
      &__avatar {
        text-align: center;
        margin-top: 15px;
        margin-bottom: 15px;
      }
    }
    &-left-image {
      background: none;
      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 392px;
        width: 195px;
        background: $gradient-side-image;
      }
      .container {
      padding-top: 25px;
      padding-bottom: 25px;
    }
      &__image {
        margin-left: auto !important;
        margin-right: auto !important;
        margin-bottom: 25px;
        &:before {
          content: none !important;
        }
      }
    }
    &-tabs {
      .nav {
        flex-direction: column;
      }
      &__header-title.active:after {
        top: 85%;
        border: 28px solid transparent;
        border-top: 16px solid #FFFFFF;
      }
      &__content {
        padding-left: 25px;
        padding-right: 25px;
        padding-top: 40px;
        padding-bottom: 40px;
      }
      &__col {
        margin-bottom: 15px;
      }
      &__list, &__name {
        line-height: 23px;
      }
    }
  }
}
@media screen and  (max-width: 360px) {
  .screen {
    &-right-image,&-left-image  {
      &:before {
        content: '';
        position: absolute;
        right: 0;
        bottom: 0;
        height: 300px;
        width: 100px;
        background: $gradient-side-image;
      }
    }
  }
}

//Mobile first
@media screen and  (min-width: 1200px) {
  .container.my{
    margin-left: calc(50% - 570px);
    width: calc(100% - (50% - 570px));
    max-width: inherit;
  }
  .screen {
    .section {
      &__title {
        font-size: $title-font;
        line-height: 69px;
        letter-spacing: 1.41px;
      }
      &__subtitle {
        font-size: $subtitle-font;
        line-height: 30px;
        letter-spacing: 4px;
      }
    }
    &-first {
      .section {
        &__title {
          &:after {
            font-size: 385px;
            line-height: 508px;
            letter-spacing: 7.66px;
          }
        }
        &__text {
          font-size: $text-big-font;
          line-height: 35px;
        }
      }
    }
  }
  .header {
    background: none;
    position: absolute;
    top: 0;
    left: 0;
    .navbar {
      padding-top: 8px;
      padding-bottom: 8px;
    }
  }
  .nav {
    &__list {
      display: flex;
      align-items: center;
    }
  }
}
@media  screen and (min-width: 1400px) {
  .container.my{
    margin-left: calc(50% - 620px);
    width: calc(100% - (50% - 620px));
    max-width: inherit;
  }
}
