
/*========== Colors ==========*/
$first-color: #4ABB23;
$second-color: #F9F74B;


/*========== Font and typography ==========*/
$font-title: 'Poppins', sans-serif;
$font-text: 'Lato', sans-serif;
$footer-text: 'Rubic', sans-serif;


$title-font: 74px;
$title-resp-font:40px;
$subtitle-font: 20px;
$text-big-font: 25px;
$text-medium-font: 18px;
$text-input-font: 16px;
$text-small-font: 14px;
$font-button: 12px;




/*========== Container width ==========*/

$container-width: 1166px;

/*========== Font weight ==========*/
$font-medium: 500;
$font-semi-bold: 600;

/*========== GRADIENTS ==========*/
$gradient-header:transparent linear-gradient(99deg, $first-color 0%, $second-color 100%) 0% 0% no-repeat padding-box;
$gradient-header-blog:transparent linear-gradient(112deg, $first-color 0%, $second-color 100%) 0% 0% no-repeat padding-box;
$gradient-button: transparent linear-gradient(100deg, $first-color 0%, $second-color 100%) 0% 0% no-repeat padding-box;
$gradient-footer: transparent linear-gradient(132deg, $first-color 0%, $second-color 100%) 0% 0% no-repeat padding-box;
$gradient-industries: transparent linear-gradient(142deg, #4ABB23 0%, #F9F74B 100%) 0% 0% no-repeat padding-box;;
$gradient-copyright: transparent linear-gradient(92deg, $first-color 0%, $second-color 100%) 0% 0% no-repeat padding-box;
$gradient-firstScreen: transparent linear-gradient(154deg, $first-color 0%, $second-color 100%) 0% 0% no-repeat padding-box;
$gradient-advantages-cart: transparent linear-gradient(122deg, $first-color 0%, $second-color 100%) 0% 0% no-repeat padding-box;
$gradient-side-big-image: transparent linear-gradient(348deg, $first-color 0%, $second-color 100%) 0% 0% no-repeat padding-box;
$gradient-side-image: transparent linear-gradient(349deg, $first-color 0%, $second-color 100%) 0% 0% no-repeat padding-box;
$gradient-president-letter: transparent linear-gradient(161deg, $first-color 0%, $second-color 100%) 0% 0% no-repeat padding-box;
$gradient-tabs: transparent linear-gradient(278deg,  $first-color 0%, $second-color 100%) 0% 0% no-repeat padding-box;
$gradient-popap:transparent linear-gradient(179deg, $first-color 0%, $second-color 100%) 0% 0% no-repeat padding-box;
$gradient-industries-funding:transparent linear-gradient(124deg, $first-color 0%, $second-color 100%) 0% 0% no-repeat padding-box;
$gradient-screen-clients:transparent linear-gradient(248deg, $first-color 0%, $second-color 100%) 0% 0% no-repeat padding-box;
$gradient-industries: transparent linear-gradient(142deg,  $first-color 0%, $second-color 100%) 0% 0% no-repeat padding-box;
$gradient-slider-number: transparent linear-gradient(180deg, $first-color 0%, $second-color 100%) 0% 0% no-repeat padding-box;
