/*========== FOOTER ==========*/
.footer {
  background: #5E5E5E;
  &.section {
    padding-bottom: 1.375rem;
  }
  &__container {
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    row-gap: 2rem;
  }

  &__content.logo {
    display: flex;
    align-items: center;
  }
  &__title {
    font-size: 1.125rem;
    line-height: 1.313rem;
    color: #ffffff;
    margin-bottom: 1rem;
  }

  &__link {
    color: #ffffff;
    font-size: $smaller-font-size;
    line-height: 1.75rem;
    font-weight: 300;
  }

  &__social + &__social{
    margin-left: 28px;
  }
  &__copy {
    text-align: center;
    font-size: $smaller-font-size;
    line-height: 1.75rem;
    color: #ffffff;
    margin-top: 3.125rem;
    border-top: 1px solid rgba(255, 255, 255, .1);
  }
  &__text {
    margin-top: $mb-2;
  }
}