.l-header {
  width: 100%;
  //position: fixed;
  //top: 0;
  //left: 0;
  z-index: $z-fixed;
  background-color: $container-color;
}

/*========== NAV ==========*/
#header {
  box-shadow: 0px 24px 44px rgba(0, 0, 0, 0.02);
}
.nav {
  max-width: 1140px;
  height: $header-height;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__list {
    display: flex;
  }

  &__item {
    margin-left: $mb-5;
    margin-bottom: 0;
  }

  &__toggle {
    font-size: 1.3rem;
    cursor: pointer;
  }

  &__link {
    transition: .3s;
  }

  &__link, &__toggle {
    font-weight: $font-medium;
    color: $title-color;
  }
}
.active-link {
  color: $first-color;
}
.nav__menu.show-menu {
  top: $header-height;
}
