/*========== HOME ==========*/
.home {
  &__container {
    padding-top: 7.188rem;
    justify-items: center;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    align-content: center;
    position: relative;

    &:after {
      content: '';
      background-size: cover;
      background-image: url(../img/phone.svg);
      width: 7.25rem;
      height: 7.25rem;
      position: absolute;
      left: 40%;
      bottom: 0;
    }
  }

  &__title {
    color: $title-color;
    font-weight: 500;
    font-size: $h1-font-size;
    line-height: 4.375rem;
  }

  &__subtitle {
    font-weight: 300;
    font-size: $h3-font-size;
    line-height: 158.2%;
    margin-bottom: $mb-4;
  }
  &__subtitle {
    svg {
      width: auto;
      height: 1.875rem;
      margin-bottom: 0.313rem;
    }
  }

  &__data, &__img {
    position: relative;
  }
  &__data {
    &:before {
      content: '';
      width: 6.438rem;
      height: 6.188rem;
      background-size: cover;
      background-image: url(../img/chat.svg);
      position: absolute;
      right: 0;
      top: -7.188rem;
    }

  }
  &__img {
    &:before {
      content: url(../img/people.svg);
      position: absolute;
      right: 0;
      top: -1.875rem;
    }
  }
}
/*========== FEATURES ==========*/

.features {
  text-align: center;
  &__container {
    grid-template-columns: repeat(auto-fit, minmax(464.1px, 1fr));
    column-gap: 2rem;
    margin-top: $mb-6;
  }

  &__content.red {
    background-color: $first-color;
    background-image: url("../img/RedMaskGroup.svg");

    .features__icon {
      background-color: #FFECEF;
      padding: 3.875rem 3.438rem;
      box-sizing: border-box;
      width: 11.313rem;
      height: 11.313rem;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      position: relative;

      &:after {
        content: url(../img/smileMessage.svg);
        position: absolute;
        top: 1.875rem;
        left: -5rem;
      }
    }
  }

  &__content.blue {
    background-color: $button-color;
    background-image: url("../img/BlueMaskGroup.svg");
    padding-top: 3.25rem;

    .call-icons {
      display: flex;
      justify-content: space-evenly;
    }

    .features {
      &__icon {
        width: 10.938rem;
        height: 10.938rem;
        border: 3px solid rgba(255, 255, 255, 0.37);
        box-sizing: border-box;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 1.313rem;

        img {
          border-radius: 50%;
          object-fit: cover;
        }
      }

      &__info {
        .call {
          &-title {
            color: $body-color;
            text-align: center;
            font-style: normal;
            font-weight: bold;
            font-size: $h4-font-size;
            line-height: $h4-font-size + .25rem;
            margin-bottom: 1.5rem;
          }

          &-subtitle {
            text-align: center;
            font-style: normal;
            font-weight: normal;
            color: $body-color;
            font-size: $smaller-font-size;
            line-height: $small-font-size;
            margin-bottom: $mb-1;
          }
        }
      }
    }
  }

  &__content {
    display: flex;
    justify-content: center;
    align-content: space-between;
    flex-wrap: wrap;
    height: 39.063rem;
    padding-top: 7.375rem;
    padding-bottom: 5.313rem;
    padding-right:4.063rem;
    padding-left: 4.063rem;
    border-radius: 50px;
    background-size: cover;
    background-repeat: no-repeat;
  }


  &__title {
    font-style: normal;
    text-align: center;
    font-weight: 500;
    font-size: $h3-font-size;
    line-height: 2.938rem;
    color: $body-color;
    padding-bottom: $mb-2;
  }
  &__subtitle {
    font-style: normal;
    font-weight: 300;
    font-size: $small-font-size;
    line-height: 1.563rem;
    text-align: center;
    color: $body-color;
  }
  .button {
    margin-top: 3.875rem;
  }
}

/*========== SECURE ==========*/
.secure {
  background-color: #F1F4FF;
  &.section {
    padding-bottom: 5.938rem;
    padding-top: 4.688rem;
  }
  &__logo {
    text-align: center;
    margin-bottom: 1.063rem;
  }

  &__title {
    color: #82535F;
    font-style: normal;
    font-size: 2rem;
    line-height: 2.563rem;
    text-align: center;
    margin-bottom: 5.125rem;
  }

  &__container {
    grid-template-columns: repeat(2,1fr);
    column-gap: 1.688rem;
    row-gap: 1.875rem;
  }

  &__item {
    background: #FFFFFF;
    box-shadow: 0px 14px 14px rgba(0, 0, 0, 0.01);
    border-radius: 0.813rem;
    display: flex;
    align-items: center;
    padding: 0 1.25rem;
    height: 7.938rem;
    &:last-child {
      grid-column: 1/3;
      justify-content: center;
    }
  }

  &__icon {
    margin-right: 1.313rem;
  }

  &__description {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: $normal-font-size;
    line-height: 1.438rem;
  }
}

/*========== APP ==========*/
.app {
  &__container {
    grid-template-columns: 3fr 2fr;
    align-items: center;
    gap: 0;
  }

  &.section {
    padding-bottom: 9.375rem;
    padding-top: 6.25rem;
  }
  &__title {
    color: $title-color;
    font-weight: 300;
    font-size: 4rem;
    line-height: 4.688rem;
    margin-bottom: $mb-4;
  }

  &__description {
    color: $text-color-light;
    font-style: normal;
    font-weight: normal;
    font-size: $h5-font-size;
    line-height: 2rem;
    margin-bottom: $mb-4;
  }
}
