/*==========  SECURITY ==========*/
#security-page {
  .security {
    background: #FFFFFF;
    box-shadow: 0px 4px 54px rgba(0, 0, 0, 0.05);
    border-radius: 3.125rem;
    position: relative;
    &:before {
      content: "";
      background: url(../img/tVectorRed.svg);
      background-repeat: no-repeat;
      background-size: cover;
      position: absolute;
      top: -4.375rem;
      left: 50%;
      width: calc(100% - 6rem);
      transform: translateX(-50%);
      height: 4.375rem;
      z-index: -1;
    }
    &__content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 50px 0;
      &.even {
        flex-direction: row-reverse;
        .security__icon:after {
          right: unset;
          left: 0;
        }
      }
    }
    &__data {
      max-width: 50%;
    }
    &__title {
      font-weight: 500;
      font-size: 1.75rem;
      line-height: 1.75rem;
      color: $button-color;
      margin-bottom: 1rem;
    }
    &__subtitle {
      font-size: $small-font-size;
      line-height: 1.5rem;
    }
    &__icon {
      position: relative;
      z-index: 1;
      svg {
        max-width: 17.125rem;
        max-height: 17.125rem;
      }
      &:after {
        content: '';
        position: absolute;
        right: 0;
        bottom: 0;
        width: 12.063rem;
        height: 12.063rem;
        z-index: -1;
        border-radius: 50%;
        background-color: $button-color;
      }
    }
  }
}