/*========== FONTS ==========*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@700&display=swap");
/*========== Colors ==========*/
/*========== Font and typography ==========*/
/*========== Font weight ==========*/
/*========== GRADIENTS ==========*/
/*========== BASE ==========*/
*, ::before, ::after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

h1, h2, h3, ul, p {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*========== COMPONENTS ==========*/
.section__title {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  line-height: 37px;
  font-weight: bold;
  font-style: normal;
  text-align: left;
  letter-spacing: 1.41px;
  color: #000000;
  margin: 10px auto;
}
.section__subtitle {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  line-height: 15px;
  font-weight: 900;
  font-style: normal;
  letter-spacing: 2.4px;
  color: #333333;
  text-transform: uppercase;
  text-align: left;
}
.section__text {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
  font-style: normal;
  text-align: left;
  color: #333333;
}

.button {
  display: inline-block;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: bold;
  line-height: 20px;
  font-style: normal;
  border-radius: 25px;
  letter-spacing: 1.2px;
  text-align: center;
  padding: 14px 22px;
  width: 212px;
  user-select: none;
  text-decoration: none;
  vertical-align: middle;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.button-light {
  border: 1px solid #707070;
  color: #000000;
}
.button-light:hover {
  background: transparent linear-gradient(100deg, #4ABB23 0%, #F9F74B 100%) 0% 0% no-repeat padding-box;
  border: 1px solid transparent;
  color: #FFFFFF;
}
.button-color {
  background: transparent linear-gradient(100deg, #4ABB23 0%, #F9F74B 100%) 0% 0% no-repeat padding-box;
  border: 1px solid transparent;
  color: #FFFFFF;
}
.button-color:hover {
  color: #e6e6e6;
}

.font-light {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: bold;
  font-style: normal;
  text-align: right;
  letter-spacing: 0px;
  color: #FFFFFF;
}
.font-light:hover {
  color: #f2f2f2;
}

/*========== IMPORT ==========*/
.header {
  background: transparent linear-gradient(99deg, #4ABB23 0%, #F9F74B 100%) 0% 0% no-repeat padding-box;
  position: relative;
  width: 100%;
  z-index: 99999;
}
.header .container {
  max-width: 1484px;
}
.header .navbar {
  padding: 0;
}
.header .navbar .container-fluid {
  padding-right: 0;
  height: 100%;
}
.header .navbar-toggler {
  height: 80px;
  width: 72px;
  border-radius: 0;
  color: #ffffff;
  background: #4FBD24;
  border: none;
}
.header .navbar-toggler:focus {
  box-shadow: none;
}
.header .navbar-dark .navbar-toggler-icon.user {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgb%28255, 255, 255' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__list {
  display: block;
  text-align: center;
}
.nav__item {
  padding: 20px 10px;
}
.nav__item:first-child {
  padding-left: 0;
}
.nav__item + .nav__item {
  margin-left: 13px;
}
.nav__link {
  color: #000000;
  text-transform: uppercase;
}
.nav__link:hover {
  color: #1a1a1a;
}

.footer {
  background: transparent linear-gradient(132deg, #4ABB23 0%, #F9F74B 100%) 0% 0% no-repeat padding-box;
}
.footer .container {
  padding-top: 55px;
  padding-bottom: 60px;
}
.footer-list {
  display: flex;
  align-items: center;
}
.footer-item {
  padding: 0 10px;
}
.footer-item:last-child {
  padding-right: 0;
}
.footer-link {
  text-transform: uppercase;
}
.footer__contact {
  font-family: "Rubic", sans-serif;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  letter-spacing: 0.24px;
  color: #FFFFFF;
}
.footer__form {
  display: flex;
}
.footer__form-title {
  font-family: "Rubic", sans-serif;
  text-align: left;
  margin-bottom: 9px;
}
.footer__form-title:hover {
  text-decoration: none;
  color: #FFFFFF;
}
.footer__col + .footer__col {
  padding-left: 10px;
}
.footer__col + .footer__col:last-child {
  padding-left: 12px;
}
.footer__col {
  max-width: 162px;
}
.footer__col:last-child {
  max-width: 118px;
}
.footer__input {
  font-family: "Rubic", sans-serif;
  font-size: 16px;
  line-height: 25px;
  font-weight: normal;
  font-style: normal;
  text-align: left;
  letter-spacing: 0px;
  color: #FFFFFF;
  padding: 14px 12px;
  background: none;
  border: 1px solid #FFFFFF;
  border-radius: 0;
}
.footer__input::-moz-placeholder {
  color: #FFFFFF;
}
.footer__input::-webkit-input-placeholder {
  color: #FFFFFF;
}
.footer__input:focus {
  color: #FFFFFF;
  background: none;
  box-shadow: 0px 0px 3px 0px #ffffffc7;
  border: 1px solid #FFFFFF;
}
.footer__btn {
  font-family: "Rubic", sans-serif;
  font-size: 12px;
  line-height: 20px;
  font-weight: bold;
  font-style: normal;
  letter-spacing: 2px;
  color: #FFFFFF;
  text-transform: uppercase;
  padding: 16px 23px;
  border: 1px solid #FFFFFF;
  background: none;
  border-radius: 4px;
}
.footer .first-row {
  margin-bottom: 10px;
}
.footer__copyright {
  background: transparent linear-gradient(92deg, #4ABB23 0%, #F9F74B 100%) 0% 0% no-repeat padding-box;
}
.footer__copyright .container {
  padding-top: 20px;
  padding-bottom: 15px;
}
.footer__social-list {
  display: flex;
  justify-content: flex-end;
}
.footer__social-item + .footer__social-item {
  padding-left: 18px;
}
.footer__social-icon:hover {
  fill: #f2f2f2;
}

.screen {
  position: relative;
  height: 100vh;
  overflow-y: hidden;
}
.screen-first {
  display: flex;
  align-items: center;
}
.screen-first:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 33.3333333333%;
  background: transparent linear-gradient(154deg, #4ABB23 0%, #F9F74B 100%) 0% 0% no-repeat padding-box;
  z-index: -1;
}
.screen-first .container-fluid {
  padding-left: 0;
}
.screen-first .grid-gallery {
  display: flex;
}
.screen-first .grid-gallery img {
  object-fit: cover;
}
.screen-first .grid-col:first-child {
  padding-right: 29px;
}
.screen-first .grid-col:first-child img {
  max-height: 524px;
}
.screen-first .grid-col:last-child {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.screen-first .grid-col:last-child img:first-child {
  height: 193px;
}
.screen-first .grid-col:last-child img:last-child {
  height: 301px;
}
.screen-first .offset-left {
  margin-left: 7%;
}
.screen-first__data-after {
  max-width: 608px;
}
.screen-first .section__title {
  position: relative;
}
.screen-first .section__title:after {
  content: "20";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  font-family: "Lora", serif;
  font-size: 210px;
  line-height: 279px;
  font-weight: bold;
  letter-spacing: 4.2px;
  color: #DDDDDD;
  opacity: 0.84;
  z-index: -1;
}

/*========== PAGES ==========*/
.screen-advantages__card {
  display: flex;
  align-items: center;
  position: relative;
  height: 50vh;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 36px 70px;
  cursor: pointer;
  overflow: hidden;
}
.screen-advantages__card.people {
  background-image: url("https://picsum.photos/seed/picsum/287/457");
}
.screen-advantages__card:hover {
  background: transparent linear-gradient(122deg, #4ABB23 0%, #F9F74B 100%) 0% 0% no-repeat padding-box;
}
.screen-advantages__card:hover:after {
  opacity: 0;
  text-replace: 0.2s;
}
.screen-advantages__card:hover .screen-advantages__data {
  bottom: 50%;
  transform: translateY(50%);
}
.screen-advantages__card:hover .screen-advantages__title {
  margin-bottom: 15px;
}
.screen-advantages__card:hover .screen-advantages__text {
  display: block;
  visibility: visible;
}
.screen-advantages__card:after {
  content: "";
  width: 100%;
  height: 96px;
  position: absolute;
  left: 0;
  bottom: 0;
  background: transparent linear-gradient(180deg, #00000000 0%, #000000 100%) 0% 0% no-repeat padding-box;
  opacity: 0.69;
  z-index: 0;
}
.screen-advantages__data {
  max-width: calc(100% - 140px);
  position: absolute;
  bottom: 36px;
  z-index: 1;
  transition: 1s;
}
.screen-advantages__title {
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  line-height: 25px;
  font-weight: bold;
  font-style: normal;
  color: #FFFFFF;
  z-index: 1;
  transition: 1s;
}
.screen-advantages__text {
  visibility: hidden;
  display: none;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 25px;
  font-weight: normal;
  font-style: normal;
  color: #FFFFFF;
}
.screen-right-image {
  position: relative;
}
.screen-right-image:before {
  content: "";
  width: 195px;
  width: 12%;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  background: transparent linear-gradient(348deg, #4ABB23 0%, #F9F74B 100%) 0% 0% no-repeat padding-box;
  z-index: -1;
}
.screen-right-image img {
  object-fit: cover;
}
.screen-right-image__img {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.screen-right-image__img-big {
  margin-bottom: 24px;
  width: 100%;
}
.screen-right-image__img-big img {
  width: 100%;
}
.screen-right-image__img-small {
  text-align: center;
  position: relative;
}
.screen-right-image__img-small:after {
  content: "";
  width: 108px;
  height: 108px;
  position: absolute;
  right: 0;
  bottom: 0;
  background: red;
}
.screen-right-image .section__title {
  margin-bottom: 20px;
}
.screen-right-image .section__text {
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.36px;
  max-width: 462px;
  margin-bottom: 20px;
}

/*========== MEDIA ==========*/
@media screen and (max-width: 1400px) {
  .footer .col-xxl-4:first-child {
    margin-bottom: 40px;
  }
  .footer .col-xxl-4:nth-child(3) {
    margin-bottom: 43px;
  }
  .footer .col-xxl-8:nth-child(2) {
    margin-bottom: 36px;
  }
}
@media screen and (min-width: 1200px) {
  .screen .section__title {
    font-size: 74px;
    line-height: 69px;
    letter-spacing: 0.76px;
  }
  .screen .section__subtitle {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 4px;
  }
  .screen-first .section__title:after {
    font-size: 385px;
    line-height: 508px;
    letter-spacing: 7.66px;
  }
  .screen-first .section__text {
    font-size: 25px;
    line-height: 35px;
  }

  .header {
    background: none;
    position: absolute;
    top: 0;
    left: 0;
  }
  .header .navbar {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .nav__list {
    display: flex;
    align-items: center;
  }
}
@media screen and (max-width: 992px) {
  .footer-list {
    display: block;
    text-align: left;
  }
  .footer-item {
    margin-left: 0 !important;
    padding-left: 0 !important;
  }

  .screen-first .grid-col:first-child {
    padding-right: 14px;
  }
  .screen-first .grid-col:first-child img {
    max-height: 402px;
  }
  .screen-first .grid-col:last-child img:first-child {
    height: 160px;
  }
  .screen-first .grid-col:last-child img:last-child {
    height: 232px;
  }
}
@media screen and (max-width: 768px) {
  .section__data {
    margin-top: 43px;
  }

  .nav__logo {
    max-width: 244px;
  }

  .footer__form {
    display: block;
  }
  .footer__form-row {
    width: 100%;
  }
  .footer__col {
    max-width: 100%;
    margin-bottom: 15px;
  }
  .footer__col:last-child {
    max-width: 100%;
    margin-bottom: 0;
  }
  .footer__col + .footer__col {
    padding-left: 0;
  }
  .footer__col + .footer__col:last-child {
    padding-left: 0;
  }
  .footer__btn {
    width: 100%;
  }

  .screen {
    height: auto;
  }
  .screen-first:before {
    content: none;
  }
  .screen-first .container-fluid {
    padding-bottom: 57px;
    padding-top: 16px;
    padding-left: var(--bs-gutter-x, 0.75rem);
  }
  .screen-first .offset-left {
    margin-left: 0;
  }
  .screen-first .col-md-6 {
    display: flex;
    justify-content: center;
  }
  .screen-first .grid-col:first-child {
    padding-right: 7px;
  }
  .screen-first .grid-col:first-child img {
    max-height: 201px;
    max-width: 187px;
  }
  .screen-first .grid-col:last-child img {
    max-width: 149px;
  }
  .screen-first .grid-col:last-child img:first-child {
    max-height: 80px;
  }
  .screen-first .grid-col:last-child img:last-child {
    max-height: 116px;
  }
  .screen__advantages-card {
    padding-left: 12px;
  }
}

/*# sourceMappingURL=main.css.map */
