/*========== FONTS ==========*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@700&display=swap");
/*========== Colors ==========*/
/*========== Font and typography ==========*/
/*========== Container width ==========*/
/*========== Font weight ==========*/
/*========== GRADIENTS ==========*/
/*========== BASE ==========*/
*, ::before, ::after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

h1, h2, h3, ul, p {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*========== COMPONENTS ==========*/
.section__title {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  line-height: 37px;
  font-weight: bold;
  font-style: normal;
  text-align: left;
  letter-spacing: 0.76px;
  color: #000000;
  margin: 10px auto;
}
.section__title.small {
  font-size: 30px !important;
  line-height: 32px !important;
}
.section__subtitle {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  line-height: 15px;
  font-weight: 900;
  font-style: normal;
  letter-spacing: 2.4px;
  color: #333333;
  text-transform: uppercase;
  text-align: left;
}
.section__text {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
  font-style: normal;
  text-align: left;
  color: #333333;
}
.section__list {
  list-style: disc;
  padding-left: 1rem;
  margin-top: 15px;
}
.section__more {
  font-family: "Poppins", sans-serif;
  display: block;
  font-size: 12px;
  line-height: 20px;
  font-weight: bold;
  font-style: normal;
  letter-spacing: 1.2px;
  color: #000000;
  text-transform: uppercase;
  margin-bottom: 14px;
}
.section__more:hover {
  text-decoration: none;
  color: gray;
}

.button {
  display: inline-block;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: bold;
  line-height: 20px;
  font-style: normal;
  border-radius: 25px;
  letter-spacing: 1.2px;
  text-align: center;
  padding: 14px 22px;
  width: 212px;
  user-select: none;
  text-decoration: none;
  vertical-align: middle;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.button-light {
  border: 1px solid #707070;
  color: #000000;
}
.button-light:hover {
  background: transparent linear-gradient(100deg, #4ABB23 0%, #F9F74B 100%) 0% 0% no-repeat padding-box;
  border: 1px solid transparent;
  color: #FFFFFF;
}
.button-color {
  background: transparent linear-gradient(100deg, #4ABB23 0%, #F9F74B 100%) 0% 0% no-repeat padding-box;
  border: 1px solid transparent;
  color: #FFFFFF;
}
.button-color:hover {
  background: #FFFFFF;
  border: 1px solid #707070;
  color: #000000;
}

.font-light {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: bold;
  font-style: normal;
  text-align: right;
  letter-spacing: 0px;
  color: #FFFFFF;
}
.font-light:hover {
  color: #f2f2f2;
}

.scrolling__section {
  position: fixed;
  right: 43px;
  top: 50%;
  transform: translateY(-50%);
}
.scrolling__list li:not(:last-child) {
  margin-bottom: 17px;
}
.scrolling-item {
  display: block;
  border: 2px solid #6A6A6A;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}
.scrolling-item:not(:last-child) {
  margin-bottom: 17px;
}
.scrolling-item.active {
  position: relative;
}
.scrolling-item.active:after {
  content: "";
  position: absolute;
  left: 2px;
  top: 2px;
  width: 4px;
  height: 4px;
  background: #313131;
  border-radius: 50%;
}

.scrolling-section {
  width: 10px;
  height: 10px;
  position: absolute;
  right: 0;
  top: 50%;
}

/*========== IMPORT ==========*/
.header {
  background: transparent linear-gradient(99deg, #4ABB23 0%, #F9F74B 100%) 0% 0% no-repeat padding-box;
  position: relative;
  width: 100%;
  z-index: 99999;
}
.header .container {
  max-width: 1484px;
}
.header .navbar {
  padding: 0;
}
.header .navbar .container-fluid {
  padding-right: 0;
  height: 100%;
}
.header .navbar-toggler {
  height: 80px;
  width: 72px;
  border-radius: 0;
  color: #ffffff;
  background: #4FBD24;
  border: none;
}
.header .navbar-toggler:focus {
  box-shadow: none;
}
.header .navbar-dark .navbar-toggler-icon.user {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgb%28255, 255, 255' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__list {
  display: block;
  text-align: center;
}
.nav__item {
  margin: 20px 10px;
}
.nav__item:first-child {
  padding-left: 0;
}
.nav__item.active {
  position: relative;
}
.nav__item.active:after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  width: 90%;
  background-color: #4ABB23;
}
.nav__item + .nav__item {
  margin-left: 23px;
}
.nav__link {
  color: #000000;
  text-transform: uppercase;
}
.nav__link:hover {
  color: #1a1a1a;
}

.footer {
  background: transparent linear-gradient(132deg, #4ABB23 0%, #F9F74B 100%) 0% 0% no-repeat padding-box;
}
.footer .container {
  padding-top: 55px;
  padding-bottom: 60px;
}
.footer-list {
  display: flex;
  align-items: center;
}
.footer-item {
  padding: 0 10px;
}
.footer-item:last-child {
  padding-right: 0;
}
.footer-link {
  text-transform: uppercase;
}
.footer__contact {
  font-family: "Rubic", sans-serif;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  letter-spacing: 0.24px;
  color: #FFFFFF;
}
.footer__form {
  display: flex;
}
.footer__form-title {
  font-family: "Rubic", sans-serif;
  text-align: left;
  margin-bottom: 9px;
}
.footer__form-title:hover {
  text-decoration: none;
  color: #FFFFFF;
}
.footer__col + .footer__col {
  padding-left: 10px;
}
.footer__col + .footer__col:last-child {
  padding-left: 12px;
}
.footer__col {
  max-width: 162px;
}
.footer__col:last-child {
  max-width: 118px;
}
.footer__input {
  font-family: "Rubic", sans-serif;
  font-size: 16px;
  line-height: 25px;
  font-weight: normal;
  font-style: normal;
  text-align: left;
  letter-spacing: 0px;
  color: #FFFFFF;
  padding: 14px 12px;
  background: none;
  border: 1px solid #FFFFFF;
  border-radius: 0;
}
.footer__input::-moz-placeholder {
  color: #FFFFFF;
}
.footer__input::-webkit-input-placeholder {
  color: #FFFFFF;
}
.footer__input:focus {
  color: #FFFFFF;
  background: none;
  box-shadow: 0px 0px 3px 0px #ffffffc7;
  border: 1px solid #FFFFFF;
}
.footer__btn {
  font-family: "Rubic", sans-serif;
  font-size: 12px;
  line-height: 20px;
  font-weight: bold;
  font-style: normal;
  letter-spacing: 2px;
  color: #FFFFFF;
  text-transform: uppercase;
  padding: 16px 23px;
  border: 1px solid #FFFFFF;
  background: none;
  border-radius: 4px;
}
.footer .first-row {
  margin-bottom: 10px;
}
.footer__copyright {
  background: transparent linear-gradient(92deg, #4ABB23 0%, #F9F74B 100%) 0% 0% no-repeat padding-box;
}
.footer__copyright .container {
  padding-top: 20px;
  padding-bottom: 15px;
}
.footer__social-list {
  display: flex;
  justify-content: flex-end;
}
.footer__social-item + .footer__social-item {
  padding-left: 18px;
}
.footer__social-icon:hover {
  fill: #f2f2f2;
}

.screen {
  position: relative;
  height: auto;
  min-height: 900px;
  display: flex;
  align-items: center;
}
.screen-first {
  display: flex;
  align-items: center;
}
.screen-first:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 443px;
  background: transparent linear-gradient(154deg, #4ABB23 0%, #F9F74B 100%) 0% 0% no-repeat padding-box;
  z-index: -1;
}
.screen-first .container-fluid {
  padding-left: 0;
}
.screen-first .grid-gallery {
  display: flex;
  position: relative;
  overflow: hidden;
}
.screen-first .grid-gallery img {
  object-fit: cover;
}
.screen-first .grid-gallery:after {
  content: "";
  position: absolute;
  right: -58px;
  bottom: -10px;
  width: 108px;
  height: 108px;
  background: url("../img/hp9.png");
}
.screen-first .grid-col {
  overflow: hidden;
}
.screen-first .grid-col:first-child {
  padding-right: 29px;
}
.screen-first .grid-col:first-child img {
  height: 646px;
}
.screen-first .grid-col:last-child {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
.screen-first .grid-col:last-child img:first-child {
  height: 256px;
}
.screen-first .grid-col:last-child img:last-child {
  height: 371px;
}
.screen-first .offset-left {
  margin-left: 7%;
}
.screen-first__data-after {
  max-width: 608px;
}
.screen-first .section__title {
  position: relative;
}
.screen-first .section__title:after {
  content: "20";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  font-family: "Lora", serif;
  font-size: 210px;
  line-height: 279px;
  font-weight: bold;
  letter-spacing: 4.2px;
  color: #DDDDDD;
  opacity: 0.84;
  z-index: -1;
}
.screen-first .arrow-nextPage {
  position: absolute;
  left: 34%;
  bottom: 43px;
  width: 40px;
  height: 40px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23000000' class='bi bi-arrow-down-short' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M8 4a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5A.5.5 0 0 1 8 4z'/%3E%3C/svg%3E");
  background-size: cover;
  background-position-y: 8px;
  opacity: 0.37;
}
.screen-first .arrow-nextPage:hover {
  opacity: 1;
}
.screen-first:after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 108px;
  height: 108px;
  background: url("../img/hp9.png");
  background-size: cover;
  background-repeat: no-repeat;
  filter: contrast(0.8);
}

.page-about .screen-first .grid-gallery:after {
  right: -20px;
}
.page-about .screen-first .section__title {
  max-width: 455px;
  letter-spacing: 1.41px;
  margin-left: initial;
  margin-right: initial;
}
.page-about .screen-first .section__title:after {
  content: none;
}
.page-about .screen-first .section__text {
  max-width: 510px;
  font-size: 16px;
  line-height: 23px;
  margin-bottom: 25px;
}
.page-about .screen-first .section__logos img + img {
  margin-left: 45px;
}

/*========== PAGES ==========*/
.screen-advantages__card {
  display: flex;
  align-items: center;
  position: relative;
  height: 50vh;
  min-height: 457px;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 36px 70px;
  cursor: pointer;
  overflow: hidden;
  background-position: center center;
}
.screen-advantages__card.people {
  background-image: url("../img/home_page/hp7.png");
}
.screen-advantages__card.products {
  background-image: url("../img/home_page/hp8.png");
}
.screen-advantages__card.process {
  background-image: url("../img/home_page/hp1.png");
}
.screen-advantages__card.technologies {
  background-image: url("../img/home_page/hp2.png");
}
.screen-advantages__card:hover {
  background: transparent linear-gradient(122deg, #4ABB23 0%, #F9F74B 100%) 0% 0% no-repeat padding-box;
}
.screen-advantages__card:hover:after {
  opacity: 0;
  text-replace: 0.2s;
}
.screen-advantages__card:hover .screen-advantages__data {
  bottom: 50%;
  transform: translateY(50%);
}
.screen-advantages__card:hover .screen-advantages__title {
  margin-bottom: 15px;
}
.screen-advantages__card:hover .screen-advantages__text {
  display: block;
  visibility: visible;
}
.screen-advantages__card:after {
  content: "";
  width: 100%;
  height: 96px;
  position: absolute;
  left: 0;
  bottom: 0;
  background: transparent linear-gradient(180deg, #00000000 0%, #000000 100%) 0% 0% no-repeat padding-box;
  opacity: 0.69;
  z-index: 0;
}
.screen-advantages__data {
  max-width: calc(100% - 140px);
  position: absolute;
  bottom: 36px;
  z-index: 1;
  transition: 1s;
}
.screen-advantages__title {
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  line-height: 25px;
  font-weight: bold;
  font-style: normal;
  color: #FFFFFF;
  z-index: 1;
  transition: 1s;
}
.screen-advantages__text {
  visibility: hidden;
  display: none;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 25px;
  font-weight: normal;
  font-style: normal;
  color: #FFFFFF;
}
.screen-right-image {
  background-size: 195px;
}
.screen-right-image .section__title {
  margin-bottom: 20px;
}
.screen-right-image .section__text {
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.36px;
  max-width: 462px;
  margin-bottom: 20px;
}
.screen-right-image__img {
  position: relative;
}
.screen-right-image__img-big {
  margin-bottom: 24px;
}
.screen-right-image__img-small {
  text-align: center;
  position: relative;
}
.screen-right-image__img-small:after {
  content: "";
  position: absolute;
  right: 55px;
  bottom: 0;
  width: 108px;
  height: 108px;
  background-image: url("../img/hp9.png");
  filter: contrast(0.8);
}

#page-main .screen-right-image__img:after {
  content: none;
}

.screen-presidentLetter {
  background-color: #f5f5f5;
}
.screen-presidentLetter__body {
  max-height: 510px;
  padding-top: 106px;
  padding-bottom: 78px;
  padding-left: 113px;
  padding-right: 82px;
  margin: 0 auto;
  position: relative;
  background-color: #FFFFFF;
}
.screen-presidentLetter__body:before {
  content: "";
  position: absolute;
  left: -40px;
  top: -40px;
  height: 108px;
  width: 108px;
  background: url("../img/hp9.png");
  filter: contrast(0.922);
}
.screen-presidentLetter__body:after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 196px;
  background: transparent linear-gradient(161deg, #4ABB23 0%, #F9F74B 100%) 0% 0% no-repeat padding-box;
  z-index: 0;
}
.screen-presidentLetter__title {
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  line-height: 49px;
  font-weight: bold;
  font-style: normal;
  color: #000000;
  margin-bottom: 10px;
}
.screen-presidentLetter__text {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 23px;
  font-weight: normal;
  font-style: normal;
  color: #2E2E2E;
  max-width: 628px;
}
.screen-presidentLetter__text .inner-paragraph {
  margin-bottom: 15px;
}
.screen-presidentLetter__avatar {
  text-align: right;
  z-index: 1;
}
.screen-slider {
  background-repeat: no-repeat;
  background-position-x: right;
  padding-top: 124px;
  padding-bottom: 85px;
}
.screen-slider .section__title {
  font-size: 30px !important;
  line-height: 32px !important;
  letter-spacing: 0px !important;
}
.screen-slider .section__text {
  line-height: 23px;
  color: #2E2E2E;
}
.screen-slider .section__data {
  margin-bottom: 67px;
}
.screen-slider .slider__card {
  max-width: 574px !important;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 23px;
  font-weight: normal;
  font-style: normal;
  color: #2E2E2E;
  background: #F8F8F8;
  padding-left: 59px;
  padding-right: 67px;
  padding-top: 65px;
  padding-bottom: 75px;
  margin-right: 27px;
}
.screen-slider .slider__title {
  font-weight: bold;
}
.screen-what-next {
  background-image: url("../img/about_page/about_bg.jpg");
}
.screen-left-image {
  background: transparent linear-gradient(349deg, #4ABB23 0%, #F9F74B 100%) 0% 0% no-repeat padding-box;
  background-size: 195px;
}
.screen-left-image .section__text {
  margin-bottom: 15px;
  max-width: 438px;
}
.screen-left-image .section__title {
  margin-top: 16px;
  margin-bottom: 16px;
  max-width: 508px;
  margin-left: 0;
}
.screen-left-image__image.after {
  position: relative;
  margin-left: 20px;
}
.screen-left-image__image.after:before {
  content: "";
  position: absolute;
  left: -20px;
  bottom: -20px;
  width: 108px;
  height: 108px;
  background-image: url("../img/hp9.png");
  z-index: 0;
}
.screen-left-image img {
  position: relative;
}
.screen-right-image {
  background: transparent linear-gradient(349deg, #4ABB23 0%, #F9F74B 100%) 0% 0% no-repeat padding-box;
  background-size: 195px;
  background-position-x: right;
}
.screen-right-image.industrialResourceCenterOverview .section__title {
  margin: 10px 0;
  margin-left: 22px;
  max-width: 380px;
}
.screen-right-image.industrialResourceCenterOverview .section__text {
  font-size: 16px;
  line-height: 23px;
}
.screen-right-image.industrialResourceCenterOverview .section__data {
  align-items: center;
}
.screen-right-image__img {
  position: relative;
}
.screen-right-image__img img {
  position: relative;
  z-index: 1;
}
.screen-right-image__img:after {
  content: "";
  position: absolute;
  right: 58px;
  bottom: -20px;
  width: 108px;
  height: 108px;
  background-image: url("../img/hp9.png");
  z-index: 0;
}
.screen-tabs {
  height: auto;
}
.screen-tabs .container {
  padding-top: 80px;
  padding-bottom: 86px;
}
.screen-tabs .nav {
  position: relative;
  justify-content: space-around;
  background: transparent linear-gradient(278deg, #4ABB23 0%, #F9F74B 100%) 0% 0% no-repeat padding-box;
  padding-top: 30px;
  padding-bottom: 30px;
  z-index: 1;
}
.screen-tabs__header {
  padding-left: 89px;
  padding-right: 89px;
}
.screen-tabs__header-title {
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-size: 20px;
  line-height: 23px;
  font-weight: bold;
  font-style: normal;
  letter-spacing: 0px;
  color: #FFFFFF;
  padding: 22px 56px;
  position: relative;
}
.screen-tabs__header-title:hover {
  color: #f7f7f7;
}
.screen-tabs__header-title.active:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -31px;
  width: 55px;
  height: 16px;
  border: 28px solid transparent;
  border-bottom: 16px solid #FFFFFF;
  transform: translateX(-50%);
}
.screen-tabs__container {
  box-shadow: 0px 0px 20px #00000029;
  position: relative;
}
.screen-tabs__container:after {
  content: "";
  position: absolute;
  left: -30px;
  top: -30px;
  width: 108px;
  height: 108px;
  background-image: url("../img/hp9.png");
  filter: contrast(0.8);
  z-index: 0;
}
.screen-tabs__content {
  padding-left: 89px;
  padding-right: 89px;
  padding-top: 77px;
  padding-bottom: 46px;
}
.screen-tabs__title {
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  line-height: 35px;
  font-weight: bold;
  font-style: normal;
  letter-spacing: 0px;
  color: #000000;
  padding-bottom: 37px;
  margin-bottom: 57px;
  border-bottom: 1px solid #707070;
}
.screen-tabs__name {
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  line-height: 32px;
  font-weight: bold;
  font-style: normal;
  letter-spacing: 0px;
  margin-bottom: 0;
  color: #2E2E2E;
}
.screen-tabs__list {
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  line-height: 32px;
  font-weight: normal;
  font-style: normal;
  letter-spacing: 0px;
  margin-bottom: 0;
  color: #2E2E2E;
}
.screen-tabs__col {
  margin-bottom: 50px;
}
.screen-nextPage {
  background: transparent linear-gradient(100deg, #4ABB23 0%, #F9F74B 100%) 0% 0% no-repeat padding-box;
}
.screen-nextPage .container {
  padding-top: 113px;
  padding-bottom: 123px;
}
.screen-nextPage .section__title {
  display: inline-block;
  position: relative;
}
.screen-nextPage .section__title a {
  font-size: 43px;
  line-height: 73px;
  text-align: center;
  letter-spacing: 0px;
  color: #FFFFFF;
}
.screen-nextPage .section__title:after {
  content: "";
  display: inline-block;
  position: relative;
  left: -40px;
  transform: translateY(10px);
  width: 0px;
  height: 50px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='27' height='27' fill='%23ffffff' class='bi bi-arrow-right-short' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z'/%3E%3C/svg%3E");
  background-size: cover;
  transition: 0.3s;
  opacity: 0;
}
.screen-nextPage .section__title:hover:after {
  left: 0;
  width: 50px;
  opacity: 1;
}

.form-wrapper {
  max-width: 1166px;
  background: #FFFFFF 0 0 no-repeat padding-box;
  box-shadow: 0 0 20px #00000029;
}
.form-wrapper:after {
  content: "";
  display: block;
  width: 196px;
  height: 196px;
  position: absolute;
  background: #DDDDDD url("../../img/hp9.png") center no-repeat;
  background-size: 100%;
  right: -18px;
  bottom: -18px;
  z-index: -1;
}
.form-img {
  max-width: 408px;
  flex: 0 0 408px;
}
.form-title {
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  line-height: 69px;
}
.form-p {
  font-size: 18px;
  line-height: 24px;
}
.form-wrap-form {
  padding: 112px 67px 25px;
  flex: 0 0 758px;
  max-width: 758px;
}
.form-input {
  padding: 12px 7px 13px;
  max-width: 305px;
  border: 1px solid #D2D2D2;
  border-radius: 0;
}
.form-input::placeholder {
  font-family: "Lato", sans-serif;
  font-size: 15px;
  line-height: 26px;
  font-style: italic;
  color: #444;
  transition: 0.3s;
}
.form-input:focus::placeholder {
  font-size: 0;
  transform: translateY(-15px);
}
.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 21px 14px;
}
.form-btn {
  max-width: 270px;
}

.screen.left {
  background-position-x: left;
}
.screen.left .nav-pills {
  margin-left: 0;
}
.screen.left .nav-pills-btn {
  padding-right: 25px;
  padding-left: 6px;
}
.screen.left .nav-pills-btn.active:before {
  left: initial;
  top: 47%;
  right: 0;
}
.screen.right {
  background-position-x: right;
}
.screen-people {
  background-image: url("../img/services_page/Group 456.jpg");
}
.screen-people .slider__card {
  padding-left: 49px;
}
.screen-process {
  background-image: url("../img/services_page/Group 457.jpg");
}
.screen-process .slider__card {
  padding-left: 51px;
}
.screen-product {
  background-image: url("../img/services_page/Group 458.jpg");
}
.screen-product .slider__card {
  padding-left: 69px;
}
.screen .nav-pills {
  display: flex;
  max-width: 550px;
  margin-left: auto;
  align-items: start;
  padding-top: 25px;
  padding-bottom: 25px;
  background: #273f999c;
}
.screen .nav-pills-btn {
  border: none;
  background: none;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  line-height: 30px;
  font-weight: bold;
  font-style: normal;
  letter-spacing: 1.4px;
  color: #FFFFFF;
  text-transform: uppercase;
  opacity: 0.71;
  padding-left: 25px;
}
.screen .nav-pills-btn.active {
  opacity: 1;
  position: relative;
}
.screen .nav-pills-btn.active:before {
  content: "";
  position: absolute;
  left: 0;
  top: 47%;
  transform: translateY(-50%);
  width: 15px;
  height: 1px;
  background-color: #FFFFFF;
}
.screen .nav-pills-title {
  display: block;
  margin-left: auto;
  margin-right: auto;
  align-self: center;
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  line-height: 40px;
  font-weight: bold;
  font-style: normal;
  letter-spacing: 0px;
  color: #FFFFFF;
}

.slider__title.block {
  display: inline-block;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  line-height: 23px;
  font-weight: bold;
  font-style: normal;
  letter-spacing: 0px;
  color: #2E2E2E;
  margin-bottom: 20px;
  margin-top: 6px;
}
.slider__list {
  list-style: disc;
  padding-left: 16px;
}
.slider__list.block {
  font-weight: bold;
}
.slider__button {
  margin-top: 20px;
}
.slider__text {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 23px;
  font-weight: normal;
  font-style: normal;
  letter-spacing: 0px;
  color: #2E2E2E;
}
.slider__text.author {
  font-weight: bold;
  font-style: italic;
}
.slider__text.quote-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 25px;
}
.slider__text.subtitle {
  font-weight: bold;
  margin-bottom: 20px;
}
.slider__text.block {
  font-weight: bold;
}
.slider__number {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  line-height: 23px;
  font-weight: bold;
  font-style: normal;
  letter-spacing: 0px;
  color: #FFFFFF;
  background: transparent linear-gradient(180deg, #4ABB23 0%, #F9F74B 100%) 0% 0% no-repeat padding-box;
  width: 43px;
  height: 43px;
  border-radius: 50%;
}
.slider__block {
  margin-bottom: 25px;
}

#overview-process .slick-list, #testimonials-process .slick-list {
  padding: 0 60px 0 0;
}
#overview-process .slider__card, #testimonials-process .slider__card {
  max-width: 839px !important;
}

.screen-industries .section__title::after {
  display: none;
}
.impact__container {
  max-width: 1166px;
}
.impact__block-gradient {
  max-width: 376px;
  padding: 24px 16px 32px 30px;
  background: transparent linear-gradient(142deg, #4ABB23 0%, #F9F74B 100%) 0% 0% no-repeat padding-box;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 30px;
  line-height: 35px;
  color: #fff;
}
.impact__date {
  padding: 80px 70px 52px 107px;
}
.impact__date:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 17px;
  height: 100%;
  background: transparent linear-gradient(179deg, #4ABB23 0%, #F9F74B 100%) 0% 0% no-repeat padding-box;
}
.impact__information {
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  line-height: 70px;
  font-weight: 300;
}
.impact__information-wrap {
  margin-top: 66px;
}
.impact__information span {
  font-weight: bold;
}
.impact__information-left {
  flex: 0 0 442px;
}
.impact__information-right {
  flex: 0 0 485px;
}
.impact__title {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 20px;
  line-height: 49px;
}

.funding-source {
  margin-top: 85px;
  padding-top: 65px;
  background: transparent linear-gradient(124deg, #4ABB23 0%, #F9F74B 100%) 0% 0% no-repeat padding-box;
}
.funding-source .prev, .funding-source .next {
  width: 30px;
  height: 26px;
  top: -95px;
}
.funding-source .wrap-btn {
  width: 100%;
  height: 30px;
  bottom: -30px;
  min-width: 100vw;
  padding: 75px 0;
  left: 50%;
  transform: translateX(-50%);
  background: #46B51F;
}
.funding-source .next, .funding-source .prev {
  top: calc(50% - 9px);
}
.funding-source .next {
  left: calc(50% - 560px);
  background: url("../../img/industries_page/arrow-left-solid.svg") center no-repeat;
}
.funding-source .prev {
  right: calc(50% - 560px);
  background: url("../../img/industries_page/arrow-right-solid.svg") center no-repeat;
}
.funding-source_container {
  max-width: 1166px;
  margin: 0 auto;
}
.funding-source__slide-caption {
  font-size: 18px;
}
.funding-source .slick-dots {
  bottom: calc(50% - 12px);
}
.funding-source .slick-dots li {
  width: 17px;
  height: 17px;
  border: 2px solid #fff;
  border-radius: 50%;
  margin-left: 197px;
}
.funding-source .slick-dots li:first-of-type {
  margin-left: 0;
}
.funding-source .slick-dots li.slick-active {
  background: #fff;
}
.funding-source .slick-dots li button:before {
  display: none;
}
.funding-source .slick-list {
  padding: 0 !important;
}

.table-row {
  font-size: 18px;
  line-height: 35px;
  color: #fff;
}
.table-right {
  font-weight: bold;
}
.table-row {
  padding: 0 9px;
}
.table-row:nth-of-type(odd) {
  background: #5FB225;
}

.head {
  border-bottom: 1px solid #fff;
  font-family: "Poppins", sans-serif;
}

.multiple-items {
  padding-bottom: 175px;
}
.clients {
  margin-top: 65px;
}
.clients__container {
  max-width: 1166px;
}
.clients__container.form-wrapper:after {
  display: none;
}
.clients__head {
  background: transparent linear-gradient(124deg, #4ABB23 0%, #F9F74B 100%) 0% 0% no-repeat padding-box;
  padding: 42px 15px 27px 45px;
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 30px;
  line-height: 49px;
}
.clients__col {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  padding: 27px 20px 21px 52px;
  color: #2E2E2E;
  width: 33.33%;
  flex: 33.33%;
}
.clients__col:nth-of-type(odd) {
  background: rgba(227, 227, 227, 0.37);
}

.accomplished-together {
  background: transparent linear-gradient(124deg, #4ABB23 0%, #F9F74B 100%) 0% 0% no-repeat padding-box;
  text-align: center;
  padding-top: 110px;
  padding-bottom: 110px;
  margin-top: 74px;
}
.accomplished-together h4 {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  color: #fff;
  font-size: 43px;
  line-height: 70px;
}

/*========== POPUP ==========*/
#presidentLetterModal .modal-body, #manufacturingExtensionPartnershipModal .modal-body {
  background: transparent linear-gradient(179deg, #4ABB23 0%, #F9F74B 100%) 0% 0% no-repeat padding-box;
  background-color: #FFFFFF;
  background-position-x: left;
  background-size: 17px;
}
#presidentLetterModal .modal-button, #manufacturingExtensionPartnershipModal .modal-button {
  position: absolute;
  right: 35px;
  top: 35px;
  width: 33px;
  height: 33px;
  background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/33px auto no-repeat;
}
#presidentLetterModal .modal-wrapper, #manufacturingExtensionPartnershipModal .modal-wrapper {
  padding-left: 106px;
  padding-right: 106px;
  padding-top: 94px;
  padding-bottom: 72px;
}
#presidentLetterModal .modal-data, #manufacturingExtensionPartnershipModal .modal-data {
  display: flex;
  align-items: center;
  margin-bottom: 27px;
}
#presidentLetterModal .modal-title, #manufacturingExtensionPartnershipModal .modal-title {
  font-family: "Poppins", sans-serif;
  line-height: 49px;
  font-weight: bold;
  font-style: normal;
  letter-spacing: 0px;
  color: #000000;
  margin-left: 28px;
}
#presidentLetterModal .modal-list .list-style, #manufacturingExtensionPartnershipModal .modal-list .list-style {
  position: relative;
}
#presidentLetterModal .modal-list .list-style:before, #manufacturingExtensionPartnershipModal .modal-list .list-style:before {
  content: "";
  position: absolute;
  left: 0;
  top: 8px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #2E2E2E;
}
#presidentLetterModal .modal-list .indent, #manufacturingExtensionPartnershipModal .modal-list .indent {
  text-indent: 15px;
}
#presidentLetterModal .modal-paragraph, #manufacturingExtensionPartnershipModal .modal-paragraph {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 23px;
  font-weight: normal;
  font-style: normal;
  letter-spacing: 0px;
  color: #2E2E2E;
  margin-bottom: 20px;
}

#manufacturingExtensionPartnershipModal .modal-wrapper {
  padding-top: 245px;
  padding-bottom: 213px;
}

@media screen and (max-width: 1200px) {
  #manufacturingExtensionPartnershipModal .modal-wrapper {
    padding-top: 94px;
    padding-bottom: 72px;
  }
}
@media (min-width: 1200px) {
  #presidentLetterModal .modal-xl, #manufacturingExtensionPartnershipModal .modal-xl {
    max-width: 1380px;
  }
}
@media (max-width: 992px) {
  #presidentLetterModal .modal-wrapper, #manufacturingExtensionPartnershipModal .modal-wrapper {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 25px;
  }
}
@media (max-width: 480px) {
  #presidentLetterModal .modal-button, #manufacturingExtensionPartnershipModal .modal-button {
    right: 15px;
    top: 15px;
    width: 22px;
    height: 22px;
    background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/22px auto no-repeat;
  }
  #presidentLetterModal .modal-wrapper, #manufacturingExtensionPartnershipModal .modal-wrapper {
    padding: 0 15px;
  }
}
/*========== SLIDER ==========*/
.screen-slider {
  background-size: 550px 100%;
}
.screen-slider .dots-list {
  margin-top: 36px;
}
.screen-slider .dots-list li {
  display: inline-block;
  width: 12px;
  height: 12px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 2px solid #6A6A6A;
  border-radius: 50%;
}
.screen-slider .dots-list li:not(:last-child) {
  margin-right: 17px;
}
.screen-slider .dots-list li.slick-active {
  position: relative;
}
.screen-slider .dots-list li.slick-active:after {
  content: "";
  top: 2px;
  left: 2px;
  position: absolute;
  width: 4px;
  height: 4px;
  background: #313131 0% 0% no-repeat padding-box;
  border-radius: 50%;
}
.screen-slider .dots-list button {
  display: none;
}
.screen-slider .arrow-nextSlide {
  position: absolute;
  right: 0;
  top: 0;
  width: 181px;
  height: 100%;
  background: transparent linear-gradient(271deg, #FFFFFF 0%, #FFFFFF00 100%) 0% 0% no-repeat padding-box;
  cursor: pointer;
}
.screen-slider .arrow-nextSlide:after {
  content: "";
  position: absolute;
  right: 30px;
  top: 50%;
  margin-top: -25px;
  transform: translateY(10px);
  width: 50px;
  height: 50px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='27' height='27' fill='%234ABB23' class='bi bi-arrow-right-short' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z'/%3E%3C/svg%3E");
  background-size: cover;
}
.screen-slider .arrow-nextSlide:hover {
  opacity: 0.8;
  transition: 0.3s;
}
.screen-slider .slick-list {
  padding: 0 60px 0 0;
}
.screen-slider .slick-track {
  height: 491px;
}

@media screen and (max-width: 992px) {
  .screen-slider .slick-list {
    padding: 0 0 0 0;
  }
  .screen-slider .arrow-nextSlide {
    display: none !important;
  }
  .screen-slider .dots-list ul {
    text-align: center;
  }
  .screen-slider .slider__card {
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (max-width: 768px) {
  .screen-slider .slider__card {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 40px;
    padding-bottom: 25px;
  }
}
/*========== MEDIA ==========*/
@media screen and (max-width: 1400px) {
  .footer .col-xxl-4:first-child {
    margin-bottom: 40px;
  }
  .footer .col-xxl-4:nth-child(3) {
    margin-bottom: 43px;
  }
  .footer .col-xxl-8:nth-child(2) {
    margin-bottom: 36px;
  }

  .screen-right-image__img:after {
    right: -20px;
  }
}
@media screen and (max-width: 992px) {
  .footer-list {
    display: block;
    text-align: left;
  }
  .footer-item {
    margin-left: 0 !important;
    padding-left: 0 !important;
  }

  .screen {
    height: auto;
    min-width: auto;
  }
  .screen-first:before {
    width: 33.3333333%;
  }
  .screen-first .grid-col:first-child {
    padding-right: 14px;
  }
  .screen-slider {
    background: none;
    min-height: initial;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .screen-slider .section__data {
    margin-top: 0;
    margin-bottom: 25px;
  }
  .screen-right-image {
    height: auto;
    min-height: auto;
  }
  .screen-right-image .container {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .screen-right-image__img-big {
    margin-bottom: 0;
  }
  .screen-right-image__img-small {
    display: none;
  }
  .screen-presidentLetter {
    min-height: unset;
  }
  .screen-presidentLetter .container {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .screen-presidentLetter__body {
    padding: 25px 30px;
  }
  .screen-presidentLetter__body:before {
    content: none;
  }
  .screen-presidentLetter__body:after {
    width: 110px;
  }
  .screen-tabs__header-title {
    padding: 20px 15px;
  }
  .screen-left-image {
    min-height: unset;
  }
  .screen-left-image .container {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .scrolling__section {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .container-fluid.my {
    margin-left: auto;
    max-width: 540px;
  }

  .section__data {
    margin-top: 43px;
  }

  .nav__logo {
    max-width: 244px;
  }

  .footer__form {
    display: block;
  }
  .footer__form-row {
    width: 100%;
  }
  .footer__col {
    max-width: 100%;
    margin-bottom: 15px;
  }
  .footer__col:last-child {
    max-width: 100%;
    margin-bottom: 0;
  }
  .footer__col + .footer__col {
    padding-left: 0;
  }
  .footer__col + .footer__col:last-child {
    padding-left: 0;
  }
  .footer__btn {
    width: 100%;
  }

  .screen {
    height: auto;
    min-height: auto;
  }
  .screen-first:before {
    content: none;
  }
  .screen-first .container-fluid {
    padding-bottom: 57px;
    padding-top: 16px;
    padding-left: var(--bs-gutter-x, 0.75rem);
  }
  .screen-first .offset-left {
    margin-left: 0;
  }
  .screen-first .col-md-6 {
    display: flex;
    justify-content: center;
  }
  .screen-first .grid-col:first-child {
    padding-right: 7px;
  }
  .screen-first .grid-col:first-child img {
    max-height: 201px;
    max-width: 187px;
  }
  .screen-first .grid-col:last-child img {
    max-width: 149px;
  }
  .screen-first .grid-col:last-child img:first-child {
    max-height: 80px;
  }
  .screen-first .grid-col:last-child img:last-child {
    max-height: 116px;
  }
  .screen-first .grid-col:last-child:after {
    right: 0;
    bottom: -40px;
    width: 80px;
    height: 80px;
  }
  .screen-first .section__text {
    max-width: 305px;
  }
  .screen-first .arrow-nextPage {
    left: unset;
    right: 20px;
  }
  .screen-first:after {
    content: none;
  }
  .screen-right-image {
    background: none;
  }
  .screen-right-image .container {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .screen-right-image:before {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    height: 392px;
    width: 195px;
    background: transparent linear-gradient(349deg, #4ABB23 0%, #F9F74B 100%) 0% 0% no-repeat padding-box;
  }
  .screen-right-image.reverse-right:before {
    top: 0;
    right: 0;
  }
  .screen-right-image .row.reverse {
    flex-direction: column-reverse;
  }
  .screen-right-image .row.reverse .screen-right-image__img {
    margin-bottom: 25px;
  }
  .screen-right-image__img:after {
    content: none;
  }
  .screen__advantages-card {
    padding-left: 12px;
  }
  .screen-presidentLetter__body {
    padding-top: 50px;
    padding-bottom: 50px;
    max-height: unset;
    flex-direction: column-reverse;
  }
  .screen-presidentLetter__body:before {
    content: none;
  }
  .screen-presidentLetter__body:after {
    width: 100%;
    height: 50px;
    bottom: calc(100% - 50px);
  }
  .screen-presidentLetter__avatar {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .screen-left-image {
    background: none;
  }
  .screen-left-image:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 392px;
    width: 195px;
    background: transparent linear-gradient(349deg, #4ABB23 0%, #F9F74B 100%) 0% 0% no-repeat padding-box;
  }
  .screen-left-image .container {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .screen-left-image__image {
    margin-left: auto !important;
    margin-right: auto !important;
    margin-bottom: 25px;
  }
  .screen-left-image__image:before {
    content: none !important;
  }
  .screen-tabs .nav {
    flex-direction: column;
  }
  .screen-tabs__header-title.active:after {
    top: 85%;
    border: 28px solid transparent;
    border-top: 16px solid #FFFFFF;
  }
  .screen-tabs__content {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .screen-tabs__col {
    margin-bottom: 15px;
  }
  .screen-tabs__list, .screen-tabs__name {
    line-height: 23px;
  }
}
@media screen and (max-width: 360px) {
  .screen-right-image:before, .screen-left-image:before {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    height: 300px;
    width: 100px;
    background: transparent linear-gradient(349deg, #4ABB23 0%, #F9F74B 100%) 0% 0% no-repeat padding-box;
  }
}
@media screen and (min-width: 540px) {
  .container-fluid.my {
    margin-left: auto;
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .container-fluid.my {
    width: calc(100% - (50% - 360px));
  }
}
@media screen and (min-width: 992px) {
  .container-fluid.my {
    margin-left: calc(50% - 480px);
    width: calc(100% - (50% - 480px));
  }
}
@media screen and (min-width: 1200px) {
  .container-fluid.my {
    margin-left: calc(50% - 570px);
    width: calc(100% - (50% - 570px));
  }

  .screen .section__title {
    font-size: 74px;
    line-height: 69px;
    letter-spacing: 1.41px;
  }
  .screen .section__subtitle {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 4px;
  }
  .screen-first .section__title:after {
    font-size: 385px;
    line-height: 508px;
    letter-spacing: 7.66px;
  }
  .screen-first .section__text {
    font-size: 25px;
    line-height: 35px;
  }

  .header {
    background: none;
    position: absolute;
    top: 0;
    left: 0;
  }
  .header .navbar {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .nav__list {
    display: flex;
    align-items: center;
  }
}
@media screen and (min-width: 1400px) {
  .container-fluid.my {
    margin-left: calc(50% - 620px);
    width: calc(100% - (50% - 620px));
  }
}

/*# sourceMappingURL=main.css.map */
