.screen {
  &-blog {
    min-height: inherit;
    display: block;
    padding-top: 58px;
    padding-bottom: 53px;

    .section__title {
      font-family: $font-title;
      font-weight: bold;
      font-style: normal;
      color: #000000;
    }

    .filter {
      &-btn {
        background: $gradient-button;
      }
    }
  }

  &-filter {
    &-month__list {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &-dropdown {
      background: transparent linear-gradient(100deg, #4ABB23 0%, #F9F74B 100%) 0% 0% no-repeat padding-box;

      .filter-button {
        font-size: 12px;
      }
    }

    &-month {
      background: #D5D5D5;
      padding-left: 73px;
      padding-right: 107px;
    }

    &-dropdown, &-month {
      padding-top: 17px;
      padding-bottom: 16px;
    }

    &-month__item {
      font-family: $font-title;
      font-size: 12px;
      line-height: 20px;
      font-weight: bold;
      font-style: normal;
      text-align: center;
      letter-spacing: 1.2px;
      color: #000000;
      text-transform: uppercase;
    }

    &__container {
      //max-width: 1440px;
      max-width: 100%;
    }
  }

}

.slider {
  &__blog {
    &-card {
      width: 100%;
      max-width: 373px;
      height: 386px;
      border-left: 1px solid rgba(112, 112, 112, .27);
      //border-right-width: 1px;
      &-body {
        max-width: 270px;
        margin: 0 auto;
        height: 100%;

        p {
          font-size: 14px;
          line-height: 18px;
          color: #333;
        }

        ul {
          margin-left: 17px;

          li {
            font-size: 14px;
            line-height: 18px;
            color: #54BE25;
            list-style-type: disc;
          }
        }
      }
    }

    &-date {
      &-body {
        display: flex;
        align-items: center;
        height: 386px;
        width: 166px;
        border-left: 1px solid rgba(112, 112, 112, .27);

        .date {
          font-size: 25px;
          line-height: 23px;
          font-weight: bold;
          color: #fff;
          width: 106px;
          height: 106px;
          border-radius: 50%;
          background: transparent linear-gradient(159deg, #4ABB23 0%, #F9F74B 100%) 0% 0% no-repeat padding-box;
          margin: 0 auto;
          display: flex;
          align-items: center;
          text-align: center;

        }
      }
    }
  }
}

.blog-slider {
  padding-top: 70px;
  padding-bottom: 64px;

  .arrow {
    &-nextSlide {
      position: absolute;
      right: 0;
      top: 0;
      width: 181px;
      height: 100%;
      background: transparent linear-gradient(
                      271deg, #FFFFFF 0%, #FFFFFF00 100%) 0% 0% no-repeat padding-box;
      cursor: pointer;

      &:after {
        content: "";
        position: absolute;
        right: 30px;
        top: 50%;
        margin-top: -25px;
        transform: translateY(10px);
        width: 50px;
        height: 50px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='27' height='27' fill='%234ABB23' class='bi bi-arrow-right-short' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z'/%3E%3C/svg%3E");
        background-size: cover;
      }
    }

    &-prevSlide {
      position: absolute;
      left: 0;
      top: 0;
      width: 181px;
      height: 100%;
      background: transparent linear-gradient(
                      91deg, #FFFFFF 0%, #FFFFFF00 100%) 0% 0% no-repeat padding-box;
      cursor: pointer;
      z-index: 1;
      &:after {
        content: "";
        position: absolute;
        left: 30px;
        top: 50%;
        margin-top: -25px;
        transform: translateY(10px) rotateZ(180deg);
        width: 50px;
        height: 50px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='27' height='27' fill='%234ABB23' class='bi bi-arrow-right-short' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z'/%3E%3C/svg%3E");
        background-size: cover;
      }
    }
  }
}