.form{
  &-wrapper{
    max-width: 1166px;
    background: #FFFFFF 0 0 no-repeat padding-box;
    box-shadow: 0 0 20px #00000029;
    &:after{
      content: '';
      display: block;
      width: 196px;
      height: 196px;
      position: absolute;
      background: #DDDDDD url("../../img/hp9.png") center no-repeat;
      background-size: 100%;
      right: -18px;
      bottom: -18px;
      z-index: -1;
    }
  }
  &-img{
    max-width: 408px;
    flex: 0 0 408px;
  }
  &-title{
    font-family: $font-title;
    font-size: 30px;
    line-height: 69px;
  }
  &-p{
    font-size: 18px;
    line-height: 24px;
  }
  &-wrap-form{
    padding: 112px 67px 25px;
    flex: 0 0 758px;
    max-width: 758px;
  }
  &-input{
    padding: 12px 7px 13px;
    max-width: 305px;
    border: 1px solid #D2D2D2;
    border-radius: 0;
    &::placeholder{
      font-family: $font-text;
      font-size: 15px;
      line-height: 26px;
      font-style: italic;
      color: #444;
      transition: .3s;
    }
    &:focus{
      &::placeholder{
        font-size: 0;
        transform: translateY(-15px);
      }
    }
  }
  &-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 21px 14px;
  }
  &-btn{
    max-width: 270px;
  }
}