.screen {
  &-people {
    background-image: url("../img/services_page/Group 456.jpg");
  }
  .nav {
    &-pills {
      display: flex;
      max-width: 550px;
      margin-left: auto;
      align-items: start;
      padding-top: 25px;
      padding-bottom: 25px;
      background: #273f999c;
      &-btn {
        border: none;
        background: none;
        font-family: $font-title;
        font-size: 14px;
        line-height: 30px;
        font-weight: bold;
        font-style: normal;
        letter-spacing: 1.4px;
        color: #FFFFFF;
        text-transform: uppercase;
        opacity: 0.71;
        padding-left: 25px;
        &.active {
          opacity: 1;
          position: relative;
          &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 47%;
            transform: translateY(-50%);
            width: 15px;
            height: 1px;
            background-color: #FFFFFF;
          }
        }
      }
      &-title {
        display: block;
        margin-left: auto;
        margin-right: auto;
        align-self: center;
        font-family: $font-title;
        font-size: 30px;
        line-height: 40px;
        font-weight: bold;
        font-style: normal;
        letter-spacing: 0px;
        color: #FFFFFF;
      }
    }
  }
}