.screen {
  &.left {
    background-position-x: left;
    .nav-pills {
      margin-left: 0;
      &-btn {
        padding-right: 25px;
        padding-left: 6px;
        &.active {
          &:before {
            left: initial;
            top: 47%;
            right: 0;
          }
        }
      }
    }

  }
  &.right {
    background-position-x: right;
  }
  &-people {
    background-image: url("../img/services_page/Group 456.jpg");
    .slider {
      &__card {
        padding-left: 49px;
      }
    }
  }
  &-process {
    background-image: url("../img/services_page/Group 457.jpg");
    .slider {
      &__card {
        padding-left: 51px;
      }
    }
  }
  &-product {
    background-image: url("../img/services_page/Group 458.jpg");
    .slider {
      &__card {
        padding-left: 69px;
      }
    }
  }
  &-advanced-manufacturing-technologies {
    background: url("../img/services_page/Group 459.jpg"), linear-gradient(130deg, #44B51F 0%, #55BB23 68%, #F9F74B 100%);
    background-size: 550px 100%, 100% !important;
    background-repeat: no-repeat;
    .section {
      &__title, &__text {
        color: #ffffff;
      }
      &__title {
        max-width: 380px;
        margin-left: 0;
      }
      &__text {
        max-width: 575px;
      }
    }
    .col-my {
      max-width: 605px;
    }
  }
  &-talent-pipeline {
    background-image: url("../img/services_page/Group 460.jpg");
  }
  &-education-initiatives {
    background-image: url("../img/services_page/Group 460.jpg");
  }
  .nav {
    &-pills {
      display: flex;
      align-items: center;
      max-width: 550px;
      margin-left: auto;
      padding-top: 25px;
      padding-bottom: 25px;
      background: #273f999c;
      min-height: 145px;
      &-btn {
        border: none;
        background: none;
        font-family: $font-title;
        font-size: 14px;
        line-height: 30px;
        font-weight: bold;
        font-style: normal;
        letter-spacing: 1.4px;
        color: #FFFFFF;
        text-transform: uppercase;
        opacity: 0.71;
        padding-left: 25px;
        &.active {
          opacity: 1;
          position: relative;
          &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 47%;
            transform: translateY(-50%);
            width: 15px;
            height: 1px;
            background-color: #FFFFFF;
          }
        }
      }
      &-title {
        display: block;
        margin-left: 100px;
        margin-right: auto;
        margin-bottom: 0;
        align-self: center;
        font-family: $font-title;
        font-size: 30px;
        line-height: 40px;
        font-weight: bold;
        font-style: normal;
        letter-spacing: 0px;
        color: #FFFFFF;
      }
    }
  }
}
.slider {
  &__title {
    &.block {
      display: inline-block;
      font-family: $font-text;
      font-size: 20px;
      line-height: 23px;
      font-weight: bold;
      font-style: normal;
      letter-spacing: 0px;
      color: #2E2E2E;
      margin-bottom: 20px;
      margin-top: 6px;
    }
    &.quote {
      font-family: $font-title;
      font-size: 20px;
      line-height: 23px;
      font-weight: bold;
      color: #2E2E2E;
      letter-spacing: 0;
      margin-bottom: 20px;
    }
  }
  &__list {
    list-style: disc;
    padding-left: 16px;
    &.block {
      font-weight: bold;
    }
  }
  &__button {
    margin-top: 20px;
  }
  &__text {
    font-family: $font-text;
    font-size: 16px;
    line-height: 23px;
    font-weight: normal;
    font-style: normal;
    letter-spacing: 0px;
    color: #2E2E2E;
    &.author {
      font-weight: bold;
      font-style: italic;
    }
    &.quote {
      &-title {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 25px;
      }
      &.testimonials-product {
        margin-bottom: 25px;
      }
    }
    &.subtitle {
      font-weight: bold;
      margin-bottom: 20px;
    }
    &.block {
      font-weight: bold;
    }
  }
  &__number {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: $font-title;
    font-size: 22px;
    line-height: 23px;
    font-weight: bold;
    font-style: normal;
    letter-spacing: 0px;
    color: #FFFFFF;
    background: $gradient-slider-number;
    width: 43px;
    height: 43px;
    border-radius: 50%;
  }
  &__block {
    margin-bottom: 25px;
  }
}
#screen-advanced-manufacturing-technologies {
  .slick-dots {
    position: absolute;
    right: 293px;
    li {
      border-color: #ffffff;
    }
  }
  #overview-advanced-manufacturing-technologies {
    .slick-track {
      height: 443px;
    }
    .dots-list {
      position: relative;
      height: 24px;
    }
  }
}
#screen-talent-pipeline, #screen-education-initiatives {
  .slick-track {
    height: auto;
    //display: flex;
  }
}
.screen-slider .slider__card.max-width-slides {
  &-800 {
    max-width: 800px !important;
  }
}
@media screen and (max-width: 1200px) {
  #screen-people, #screen-product, #screen-process, #screen-advanced-manufacturing-technologies, #screen-talent-pipeline, #screen-education-initiatives {
    background: $gradient-slider-number;
    background-size: 100% !important;
    .section {
      &__title, &__more, &__text, &__item {
        color: #FFFFFF;
        max-width: inherit;;
      }
      &__data {
        margin-bottom: 25px;
      }
    }
  }
  .screen-talent-pipeline-services{
    background: none !important;
    .section__title{
      color: #1a1a1a !important;
    }
  }
  .nav-pills {
    max-width: inherit !important;
  }
  .screen-advanced-manufacturing-technologies .col-my {
    max-width: inherit;
  }
  .slider {
    .slick-list {
      padding: 0 !important;
    }
  }
  .screen-slider .tab-content .slider__card {
    max-width: inherit !important;
    margin-right: 0;
    height: 100%;
  }
  .slick-dots {
    position: absolute !important;
    right: 50% !important;
    transform: translateX(50%) !important;
  }
  .dots-list {
    position: relative;
    height: 24px;
  }
  .screen-slider .arrow-nextSlide {
    display: none !important;
  }
  .nav-pills-title {
    margin: 0 auto;
  }
  #screen-talent-pipeline{
    .nav-pills {
      height: auto;
      width: 100%;
    }
    .title-col {
      width: inherit;
    }
    .section__title {
      margin-bottom: 25px !important;
      margin-left: 0 !important;
      width: 100%;
      text-align: center;
    }
  }
}
.wrap-link-services{
  .head{
    font-size: 11px;
    line-height: 17px;
    color: #2E2E2E;
    padding-bottom: 0;
  }
  .body{
    margin-top: 7px;
    background: orange;
    width: 61px;
    height: 61px;
    font-size: 9px;
    line-height: 9px;
    padding-top: 21px;
    padding-left: 4px;
    font-family: auto;
    a{
      z-index: 1;
      top: 0;
      left: 0;
    }
  }
  .foot{
    img{
      max-width: 70px;
      margin-top: 14px;
    }
  }
}
ul.links{
  li{
    a{
      font-family: "Lato", sans-serif;
      font-weight: bold;
      font-size: 12px;
      line-height: 23px;
      color: #2E2E2E;
      position: relative;
      &:after{
        content: '';
        position: absolute;
        right: -20px;
        top: 2px;
        width: 13px;
        height: 13px;
        border-radius: 50%;
        background: #1a1a1a;
        z-index: 0;
      }
      &:before{
        content: '';
        position: absolute;
        right: -17px;
        top: 5px;
        width: 0;
        height: 0;
        border-top: 3px solid transparent;
        border-left: 5px solid white;
        border-bottom: 3px solid transparent;
        z-index: 1;
      }
    }
  }
}
.section__title-services{
  flex: 0 0 100%;
}
.slider__logo {
  max-height: 87px;
  margin-right: 15px;
  margin-bottom: 10px;
}
@media screen and (max-width: 992px){
  .screen-slider {
    &.right, &.left {
      .my {
        >.row {
          margin-left: 0;
          margin-right: 0;
        }
        .tab-pane {
          padding-left: 12px;
          padding-right: 12px;
        }
      }
    }
    .nav-pills {
      max-width: inherit;
    }
    &.screen-advanced-manufacturing-technologies .col-my {
      width: 100%;
      max-width: inherit;
    }
  }
  .slick-track .slider__card {
    max-width: 100% !important;
    min-height: 100%;
  }
  #screen-talent-pipeline .nav-pills {
    width: 100%;
  }
  #overview-process{
    .slick-track, .slick-list.draggable {
      height: 710px !important;
    }
    .slider__block.row {
      margin-bottom: 10px;
    }
  }
  #overview-process .slick-list, #testimonials-process .slick-list {
    padding: 0;
  }
  #screen-advanced-manufacturing-technologies #overview-advanced-manufacturing-technologies .slider__card {
    max-width: 100% !important;
  }
}
@media screen and (max-width: 992px){
  .screen .nav-pills-title {
    margin: 0;
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
    br {
      display: none;
    }
  }
}
@media screen and (min-width: 1200px){
  #overview-process,#testimonials-process {
    .slick-list{padding:0 60px 0 0;}
    .slider {
      &__card {
        max-width: 839px!important;
      }
    }
  }
  #overview-advanced-manufacturing-technologies {
    .slider {
      &__card {
        max-width: 563px !important;
        &-big{
          max-width: 728px !important;
        }
      }
    }
  }
  #testimonials-product {
    .slider {
      &__card {
        max-width: 819px !important;
      }
    }
  }
}
@media screen and (max-width: 768px){
  ul.links{
    li{
      a{
        font-size: 11px;
      }
    }
  }
}